Package: com.developlab.forcedarkappearance
Name: ForceDarkAppearance
Version: 1.0
Architecture: iphoneos-arm
Description: Force app dark appearance
Maintainer: developlab
Author: developlab
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
